#root {
  background-color: #3d3b40;
}

.brand-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #525ceb;
  font-weight: 800;
  font-style: italic;
  font-size: 30px;
}

.brand-subtext {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #bfcfe7;
  font-size: x-small;
  font-weight: 450;
}

.main-content-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #bfcfe7;
  font-weight: 700;
  font-size: 30px;
}

.note-taker {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.notes {
  background-color: #bfcfe7;
}

.main-function-button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  cursor: pointer;
}

.note-input {
  color: black;
}
/*

ID-buttons classes are used to display the add note and show notes 
buttons only when a note ID is loaded to store the notes
*/

.add-note-after {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  cursor: pointer;
  display: block;
}
.add-note-before {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  cursor: pointer;
  display: none;
}

.show-notes-after {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  cursor: pointer;
  display: block;
}

.show-notes-before {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  cursor: pointer;
  display: none;
}

.load-noteID-input {
  color: black;
}
